<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939052054150-ui916c87bjtc9n6ifmfp6p4tgujqt8lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939052054150-ui916c87bjtc9n6ifmfp6p4tgujqt8lf</string>
	<key>API_KEY</key>
	<string>AIzaSyCKmYDg4gFypS7TUb9CRQXdM6MhMLWJ394</string>
	<key>GCM_SENDER_ID</key>
	<string>939052054150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proj.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-92c2e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-92c2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939052054150:ios:01b4f263d8819c17318307</string>
</dict>
</plist>